.btn-ver {
  width: 100%;
}
.navbar-M {
  background-color: greenyellow;
  text-decoration-color: white;
}

.banner {
  /* padding-top: 56px;*/
  margin-block-end: 20px;
}
.jumbotron {
  background-color: greenyellow;
  height: 40vh;
  background-size: cover;
  background-position: top center;
  color: rgb(56, 56, 56);
  text-align: center;
  padding-top: 90px;
}
.textP {
  color: greenyellow;
}
@font-face {
  font-family: "mifuente";
  src: url(/fuentes/ConcertOne-Regular.ttf);
}
.textoM {
  text-shadow: 3px 3px rgb(114, 113, 113);
  color: greenyellow;
  font-family: mifuente;
  font-size: 55px;
}

.jumbotron-seccion {
  background-image: url(/img/Untitled\ design.jpg);
  height: 50vh;
  background-size: cover;
  background-position: top center;
  margin-block-end: 20px;
  color: greenyellow;
  padding-top: 130px;

  text-align: center;
}
.jumbotron-contacto {
  background-image: url(/img/Untitled\ design3.jpg);
  height: 50vh;
  background-position: right center;
  margin-block-end: 30px;
  color: greenyellow;
  padding-top: 130px;
}

footer {
  padding: 10px 20px 0px 20px;
  background-color: greenyellow;
  color: #2c2929;
  margin-bottom: 0px;
  margin-top: 200px;
}
footer a {
  color: black;
}
nav a {
  color: black;
  text-decoration: none;
}

.card-design {
  flex: 1 250px;
  padding: 2px 5px 2px 5px;
  margin-top: 15px;
}

ul li {
  list-style: none;
}

.menu1 li a {
  background-color: greenyellow;
  color: black;
  text-decoration: none;
  text-align: center;
  padding: 10px;

  display: block;
}
.menu1 li a:hover {
  background-color: rgba(22, 21, 21, 0.726);
  color: greenyellow;
}
.menu1 {
  float: left;
  width: 240px;
  height: auto;
}

.menu1 li ul {
  display: none;
  position: relative;
  min-width: auto;
}
.menu1 li:hover > ul {
  display: block;
}

.menu1 ul li ul li {
  position: relative;
  right: -100px;
  top: 0px;
}
